<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Nestopia_Cart.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nestopia Cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NeSr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Nestopia_FDS.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nestopia FDS Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NeSd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>Nestopia_Freeze.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nestopia Freeze State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NsTf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Nestopia_NSF.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nestopia NSF Music File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NSF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Nestopia</string>
	<key>CFBundleGetInfoString</key>
	<string>1.4.1, Copyright 2005-08 Richard F. Bannister</string>
	<key>CFBundleIconFile</key>
	<string>Nestopia_App.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.bannister.nestopia</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nestopia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleSignature</key>
	<string>NeRB</string>
	<key>CFBundleVersion</key>
	<string>1.4.1</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
